:host{
  --bg-color1: var(--green-dark);
  --bg-color2: var(--green);
  --bg-color3: var(--green-light);
  --bg-color4: var(--green-lighter);
  --word-color1: var(--blue);
  --word-color2: var(--blue-dark);
  --word-color3: var(--blue-darker);
  --word-color4: var(--blue-darkest);
}
h1.intro {
  font-weight: 500;
  font-size: 2.3rem;
  position: relative;
  bottom: 1vh;
  color: var(--word-color1);
  text-align: center;
}
section.intros{
  display: grid;
  position: relative;
  top: 70vh;
  width: 70vw;
  margin: 0 auto;
  margin-bottom: 10vh;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2vw;
  grid-template-rows: auto;
}
div.intro{
  border-radius: 5px;
  height: 40vh;
}
div.quan{
  background-color: var(--bg-color4);
  z-index: 1000;
}
div.qual{
  background-color: var(--bg-color3);
  z-index: 1000;
}
div.property{
  background-color: var(--bg-color2);
  z-index: 1000;
}
div.introBg{
  position: absolute;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
  top: 0;
  left: 0;
  z-index: -100;
  width: 100%;
  height: 70vh;
  background-color: var(--bg-color1);
}
div.topBar{
  background-color: var(--bg-color1);
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  height: 7vh;
}
h1.tab{
  font-weight: 400;
  text-align: center;
  font-size: 1.8rem;
  color: var(--word-color2);
}
h1.tab1{
  color: var(--word-color2);
}
h1.tab2{
  color: var(--word-color3);
}
h1.tab3{
  color: var(--word-color4);
}