<!-- This is the introduction of Finanalize economic project. -->

<section class="intro">
  <div class="topBar">
    <h1 i18n class="intro">Finanalize</h1>
  </div>
  <div class="introBg"></div>
  <section class="intros">
    <div class="quan intro">
      <h1 i18n class="tab1 tab">Quantative</h1>
    </div>
    <div class="qual intro">
      <h1 i18n class="tab2 tab">Qualitative</h1>
    </div>
    <div class="property intro">
      <h1 i18n class="tab3 tab">Property</h1>
    </div>
  </section>
</section>
